.main_register {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main_register>article {
    border: 2px solid #1BBC9B;
    padding: 15px;
    width: 300px;
}

.main_register>article>h1 {
    margin: 0 0 10px 0;
    text-align: center;
}

.tab :is(input, select) {
    width: 300px;
    height: 30px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #1BBC9B;
    margin-top: 10px;
}

.tab select {
    width: 308px;
}

.tab p {
    color: red;
    margin: 5px;
}

.tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.register_btn {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: end;
}

.register_btn>button {
    width: 70px;
    background-color: #1BBC9B;
    color: white;
    border: 2px solid #1BBC9B;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.register_btn>button:hover {
    transition: .2s;
    background-color: white;
    color: #1BBC9B;
    border: 2px solid #1BBC9B;
    padding: 10px;
}

.register_btn>button:active {
    background-color: #1BBC9B;
    color: white;
    border: 2px solid #1BBC9B;
}


.loader {
    width: 100px;
    height: 100px;
    border: 12px solid lightpink;
    border-top: 12px solid #1BBC9B;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
.spin{
    display: flex;
    justify-content: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.is-invalid{
    border-color: red !important;
}

.showPass_div{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
}
.showPass_div > input {
    width: 15px;
    height: 15px;
    margin-top: 0 !important;
}

.mainVeriCode{
    display: flex;
    justify-content: center;
    align-items: center;
}

.veri_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #1BBC9B;
    padding: 15px;
    background-color: #1bbc9c68;
    border-radius: 5px;
}

.veri_form > div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.veri_code{
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    border: 2px solid #1BBC9B;
    opacity: .7;
    border-radius: 5px;
}
.veri_code:focus{
    outline: none;
    opacity: 1;
}

.verify{
    width: 100%;
    height: 40px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #1BBC9B;
    border: 2px solid #1BBC9B;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.verify:hover{
    transition: .2s;
    background-color: #1bbc9b80;
    color: white;
}
.verify:active{
    transition: none;
    background-color: #1BBC9B;
    border: 2px solid #1BBC9B; 
    color: white;
}
.verify:disabled{
    background-color: #1BBC9B;
    border: 2px solid #1BBC9B;
    color: white;
    opacity: .5;
}

.btnLoader{
    width: 15px;
    height: 15px;
    border: 5px solid white;
    border-radius: 50%;
    border-top: 5px solid transparent;
    animation: palidhje 1s linear infinite;
    display: none;
}

@keyframes palidhje {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}