:root {
  --battleship-gray: hsl(0, 0%, 53%);
  --viridian-green: hsl(180, 98%, 31%);
  --silver-chalice: hsl(0, 0%, 69%);
  --mikado-yellow: hsl(47, 98%, 50%);
  --granite-gray: hsl(0, 0%, 40%);
  --independence: hsl(219, 20%, 32%);
  --spanish-gray: hsl(0, 0%, 61%);
  --oxford-blue: hsl(222, 46%, 17%);
  --black-coral: hsl(223, 8%, 44%);
  --eerie-black: hsl(210, 11%, 15%);
  --light-gray: hsl(0, 0%, 80%);
  --white-2: hsl(0, 0%, 98%);
  --white-1: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --jet: hsl(0, 0%, 20%);

  /**
   * typography
   */

  --ff-abril-fatface: 'Abril Fatface', cursive;
  --ff-comforter-brush: 'Comforter Brush', cursive;
  --ff-heebo: 'Heebo', sans-serif;

  --fs-1: 3.4rem;
  --fs-2: 3.2rem;
  --fs-3: 3rem;
  --fs-4: 2.4rem;
  --fs-5: 1.8rem;
  --fs-6: 1.7rem;
  --fs-7: 1.4rem;
  --fs-8: 1.2rem;

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /**
   * border radius
   */

  --radius-6: 6px;

  /**
   * spacing
   */

  --section-padding: 40px;

  /**
   * transition
   */

  --transition-1: 0.15s ease;
  --transition-2: 0.35s ease;
  --cubic-out: cubic-bezier(0.33, 0.85, 0.56, 1.02);

}





/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection{
  background-color: #1BBC9B;
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 12px #1BBC9B; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1BBC9B; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1bbc9c92;
}

li { list-style: none; }

a { text-decoration: none; }

a,
img,
span,
input,
button,
ion-icon { display: block; }

input,
button {
  border: none;
  background: none;
  font: inherit;
}

button { cursor: pointer; }

input { width: 100%; }

img { height: auto; }

address { font-style: normal; }

:focus-visible { outline-offset: 5px; }

html {
  font-family: var(--ff-heebo);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background: var(--white-1);
  font-size: 1.6rem;
}

.container { padding-inline: 15px; }

.btn {
  background: var(--background, var(--white-1));
  color: var(--color, var(--viridian-green));
  font-weight: var(--fw-700);
  width: max-content;
  padding: 10px 25px;
  border: 2px solid var(--border-color, var(--white-1));
  border-radius: var(--radius-6);
}

.btn-secondary:is(:hover, :focus) {
  --background: transparent;
  --color: var(--white-1);
}

.btn-primary {
  --background: var(--viridian-green);
  --color: var(--white-1);
  --border-color: var(--viridian-green);
}

.btn-primary:is(:hover, :focus) {
  --background: transparent;
  --color: var(--viridian-green);
}

.btn-outline {
  --color: var(--oxford-blue);
  --border-color: var(--silver-chalice);
}

.btn-outline:is(:hover, :focus) {
  --color: var(--viridian-green);
  --border-color: var(--viridian-green);
}

.section { padding-block: var(--section-padding); }

.section-subtitle {
  font-family: var(--ff-comforter-brush);
  color: var(--mikado-yellow);
  font-size: var(--fs-3);
}

.w-100 { width: 100%; }

.h2 {
  color: var(--jet);
  font-size: var(--fs-3);
  font-weight: var(--fw-500);
}

.h3 {
  font-size: var(--fs-4);
  font-weight: var(--fw-400);
}

.section-title { font-family: var(--ff-abril-fatface); }

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-banner { background: var(--silver-chalice); }

:is(.popular, .blog) .section-subtitle {
  text-align: center;
  margin-bottom: 10px;
}

:is(.popular, .blog) .section-title {
  text-align: center;
  margin-bottom: 50px;
}

.popular-list,
.blog-list {
  display: grid;
  gap: 30px;
}

.popular-card,
.blog-card {
  box-shadow: 0 10px 30px hsla(0, 0%, 0%, 0.1);
  border-radius: var(--radius-6);
  overflow: hidden;
}

:is(.popular, .blog) .card-banner { position: relative; }

.card-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: var(--mikado-yellow);
  color: var(--white-1);
  padding: 14px 10px;
  border-radius: var(--radius-6);
}

.card-badge ion-icon {
  --ionicon-stroke-width: 60px;
  font-size: 20px;
  margin-inline: auto;
}

.card-badge time { font-weight: var(--fw-700); }

:is(.popular, .blog) .card-content { padding: 30px 15px; }

.card-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

:is(.popular, .blog) .card-title {
  color: var(--granite-gray);
  font-size: var(--fs-5);
  margin-block: 20px;
}

:is(.popular, .blog) .card-title > a { color: inherit; }

:is(.popular, .blog) .card-title > a:is(:hover, :focus) { color: var(--viridian-green); }





/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header {
  background: var(--viridian-green);
  padding-block: 20px;
  height: 88px;
  overflow: hidden;
  transition: 0.25s var(--cubic-out);
}

.header.active {
  height: 425px;
  transition-duration: 0.35s;
}

.header .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--white-1);
  font-size: var(--fs-2);
  font-weight: var(--fw-600);
}

.nav-toggle-btn.active .open,
.nav-toggle-btn .close { display: none; }

.nav-toggle-btn .open,
.nav-toggle-btn.active .close { display: block; }

.nav-toggle-btn ion-icon {
  color: var(--white-1);
  font-size: 35px;
  --ionicon-stroke-width: 40px;
}

.navbar {
  width: 100%;
  padding: 20px 10px;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-1);
}

.header.active .navbar {
  opacity: 1;
  visibility: visible;
}

.navbar-list { margin-bottom: 15px; }

.navbar-link {
  color: var(--white-1);
  font-size: var(--fs-6);
  font-weight: var(--fw-00);
  padding-block: 10px 0;
  border-bottom: 2px solid transparent;
  /* width: max-content; */
}

.navbar-link {
  transition: border-color 0.2s ease;
}

.navbar-link:hover,
.navbar-link:focus {
  border-color: var(--white-1);
}

.dropdown-content {
  display: none; 
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 999;
}
.dropbtn{
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--white-1);
  font-size: var(--fs-6);
  font-weight: var(--fw-00);
  cursor: pointer;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown:hover .dropdown-content {
  display: block;
  z-index: 999;
}

.dropdown-content a:hover {
  background-color: #ddd;
}


.single_advisor_profile {
    position: relative;
    margin-bottom: 50px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    z-index: 1;
    border-radius: 15px;
    -webkit-box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
    box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
  }
  .single_advisor_profile .advisor_thumb {
    position: relative;
    z-index: 1;
    border-radius: 15px 15px 0 0;
    margin: 0 auto;
    padding: 30px 30px 0 30px;
    background-color: #3f43fd;
    overflow: hidden;
  }
  .single_advisor_profile .advisor_thumb::after {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    position: absolute;
    width: 150%;
    height: 80px;
    bottom: -45px;
    left: -25%;
    content: "";
    background-color: #ffffff;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  @media only screen and (max-width: 575px) {
    .single_advisor_profile .advisor_thumb::after {
        height: 160px;
        bottom: -90px;
    }
  }
  .single_advisor_profile .advisor_thumb .social-info {
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 0;
    right: 30px;
    text-align: right;
  }
  .single_advisor_profile .advisor_thumb .social-info a {
    font-size: 14px;
    color: #020710;
    padding: 0 5px;
  }
  .single_advisor_profile .advisor_thumb .social-info a:hover,
  .single_advisor_profile .advisor_thumb .social-info a:focus {
    color: #3f43fd;
  }
  .single_advisor_profile .advisor_thumb .social-info a:last-child {
    padding-right: 0;
  }
  .single_advisor_profile .single_advisor_details_info {
    position: relative;
    z-index: 1;
    padding: 30px;
    text-align: right;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    border-radius: 0 0 15px 15px;
    background-color: #ffffff;
  }
  .single_advisor_profile .single_advisor_details_info::after {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 3px;
    background-color: #3f43fd;
    content: "";
    top: 12px;
    right: 30px;
  }
  .single_advisor_profile .single_advisor_details_info h6 {
    margin-bottom: 0.25rem;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .single_advisor_profile .single_advisor_details_info h6 {
        font-size: 14px;
    }
  }
  .single_advisor_profile .single_advisor_details_info p {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    margin-bottom: 0;
    font-size: 14px;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .single_advisor_profile .single_advisor_details_info p {
        font-size: 12px;
    }
  }
  .single_advisor_profile:hover .advisor_thumb::after,
  .single_advisor_profile:focus .advisor_thumb::after {
    background-color: #070a57;
  }
  .single_advisor_profile:hover .advisor_thumb .social-info a,
  .single_advisor_profile:focus .advisor_thumb .social-info a {
    color: #ffffff;
  }
  .single_advisor_profile:hover .advisor_thumb .social-info a:hover,
  .single_advisor_profile:hover .advisor_thumb .social-info a:focus,
  .single_advisor_profile:focus .advisor_thumb .social-info a:hover,
  .single_advisor_profile:focus .advisor_thumb .social-info a:focus {
    color: #ffffff;
  }
  .single_advisor_profile:hover .single_advisor_details_info,
  .single_advisor_profile:focus .single_advisor_details_info {
    background-color: #070a57;
  }
  .single_advisor_profile:hover .single_advisor_details_info::after,
  .single_advisor_profile:focus .single_advisor_details_info::after {
    background-color: #ffffff;
  }
  .single_advisor_profile:hover .single_advisor_details_info h6,
  .single_advisor_profile:focus .single_advisor_details_info h6 {
    color: #ffffff;
  }
  .single_advisor_profile:hover .single_advisor_details_info p,
  .single_advisor_profile:focus .single_advisor_details_info p {
    color: #ffffff;
  }
  
  .button-outline2{
    padding: 10px 40px;
    background-color: none;
    border: 2px solid #FFD205;
    color: #FFD205;
    border-radius: 5px;
  }
  
  .button-outline2:hover{
    background-color: #FFD205;
    color: white;
    transition: .2s;
  }
  

  @media (min-width: 575px) {
    :root {
      --fs-1: 5rem;
      --fs-3: 4rem;
      --fs-8: 1.4rem;
    }
  
    .hero-text { --fs-7: 1.8rem; }
  
    .footer-top { grid-template-columns: 1fr 1fr; }
  
  }
  
  
  /** responsive for larger than 768px screen */
  
  @media (min-width: 768px) {
    .container {
      max-width: 750px;
      margin-inline: auto;
    }
  
    .popular-list,
    .blog-list { grid-template-columns: 1fr 1fr; }
  
    .hero {
      min-height: 550px;
      display: grid;
      place-items: center;
    }
  
    .hero .container {
      display: flex;
      align-items: center;
      gap: 40px;
    }
  
    .destination-list > li { width: calc(33.33% - 20px); }
  
    .destination-list .w-50 { width: calc(50% - 20px); }
  
    .footer { --fs-7: 1.6rem; }
  
    .footer-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    .footer-bottom .logo,
    .copyright { margin-bottom: 0; }
  }  