body {
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #fff;
  position: relative;
}

body:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  opacity: 0;
  visibility: hidden;
  z-index: 1; 
}

body.offcanvas-menu:before {
  opacity: 1;
  z-index: 1002;
  visibility: visible; 
}

p {
  color: #b3b3b3;
  font-weight: 300; 
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}
  
a, a:hover {
  text-decoration: none !important;
}

/* Header */
header {
  width: 100%;
  z-index: 5;
}

@media (min-width: 768px) {
  header {
    padding: 30px 0; 
  } 
}

header .navbar-brand {
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 800;
  font-size: 2rem; 
  color:#000 !important;
}


header .navbar-brand.absolute {
  position: absolute; 
}


@media (max-width: 991.98px) {
  header .navbar-brand.absolute {
    position: relative; 
  } 
}
header .navbar-brand span {
  color: #000000; 

}
@media only screen and (min-width: 768px) {
  header .navbar-brand span {
    color: #000000;
  }
}

header .navbar {
  background: rgb(167, 232, 170) !important;
}

@media (min-width: 768px) {
  header .navbar {
    padding-top: 0;
    padding-bottom: 0;
    background: none !important;
    position: relative; 
  } 
}

header .navbar .nav-link {
  outline: none !important;
  font-size: 1rem;
  color: #000 !important; 
  font-weight: 600;
}

@media (max-width: 1199.98px) {
  header .navbar .nav-link {
    padding: .5rem 0rem; 
  } 
}

header .navbar .nav-link.active {
  color: #1BBC9B !important; 
}

header .navbar .dropdown-menu {
  font-size: 14px;
  border-radius: 4px;
  border: none;
  -webkit-box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
  min-width: 13em;
  margin-top: -10px; 
}
 
header .navbar .dropdown-menu:before {
  bottom: 100%;
  left: 10%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 7px; 
}

@media (max-width: 991.98px) {
  header .navbar .dropdown-menu:before {
    display: none; 
  } 
}

header .navbar .dropdown-menu .dropdown-item:hover {
  background: #1BBC9B;
  color: #fff; 
}

header .navbar .dropdown-menu .dropdown-item.active {
  background: #1BBC9B;
  color: #fff; 
}

header .navbar .dropdown-menu a {
  padding-top: 7px;
  padding-bottom: 7px; 
}

header .navbar .cta-btn a {
  background: #1BBC9B;
  color: #ffffff !important;
  text-transform: uppercase;
  font-size: .8rem;
  padding: 15px 20px !important;
  line-height: 1;
  font-weight: bold;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; 
  border-radius: 10px;
}

header .navbar .cta-btn a:hover {
  background: #fff;
  color: #007bff !important;
  -webkit-box-shadow: 2px 0 30px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 0 30px -5px rgba(0, 0, 0, 0.2);
}

.image-container {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
  z-index: 1;

}

.image-container img {
  width:120rem;
  height: 30rem;
  display: block;
  margin: 0 auto;
}
.image-caption {
  position: absolute;
  font-weight: 600;
  bottom: 60%;
  left: 8%;
  font-size: 14px;
  color: #fff;
  padding: 5px 10px;
  z-index: 1;
}

.image-caption2 {
  position: absolute;
  font-weight: 600;
  bottom: 34%;
  left: 8%;
  font-size: 50px;
  color: #fff;
  padding: 5px 10px;
  z-index: 1;
}

@media only screen and (min-width: 768px) {
  .image-caption1{
    padding-top: 30px;
  }
}
@media (max-width: 768px) {
  .image-caption2 {
    font-size: 35px;
  }
}


.bluespan{
  color: #14B9D5;
}

.search-container{
  max-width: 1100px;
  height: 100px;
  margin: 0 auto;
  margin-top: -5rem;
  z-index: 1000;
  position: relative;
  background-color: #FAF7F7;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  .search-container{
    height: 180px;
  }
}
option{
  border: none;
}
.search-container .search{
  width: 90px;
  height: 90px;
  flex: 1;
  padding: 20px;
}

.search-container .guests{
  width: 90px;
  margin-top: 6px;
  height: 80px;
  flex: 1;
  padding: 20px;
}
.inside-search-container{
  display: flex;
}

.inside-search-container .content p{
  flex: 2;
}

.inside-search-container .content {
  padding-top: 20px;
}
/* .search{
  padding-top: 20px;
} */

.content p {
  margin: 0 0 10px 0;
}

.search-container button{
  color: white;
  padding: 10px 30px;
  margin-top: 25px;
  margin-left: -30px;
  border: none;
  border-radius: 10px;
  background-color: #1BBC9B;
}

.girl-div{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 50px;
  flex-wrap: wrap-reverse;
}

@media only screen and (max-width: 768px) {
  .girl-content h1{
    text-align: center;
  }
  .girl-content p{
    text-align: center;

  }
}
.girl-content h1{
  font-weight: 600;
  color: #1BBC9B;
}

.girl-content p{
  font-weight: 500;
  color: #000;
  width: 30rem;
}

.girl-image img{
  width: 300px;
}